//COLORS
.c-red		{ color: @c-red; }
.c-white	{ color: @c-white; }
.c-black	{ color: @c-black; }
.c-m-grey	{ color: @c-m-grey; }
.c-d-grey	{ color: @c-d-grey; }
.c-vd-grey	{ color: @c-vd-grey; }
.c-d-red	{ color: @c-d-red; }

.c-cyan		{ color: @c-cyan; }
.c-green	{ color: @c-green; }

.bg-white	{ background-color: @c-white; }
.bg-red		{ background-color: @c-red; }
.bg-l-red	{ background-color: @c-l-red; }
.bg-d-red	{ background-color: @c-d-red; }
.bg-vl-grey	{ background-color: @c-vl-grey; }
.bg-l-grey	{ background-color: @c-l-grey; }
.bg-m-grey	{ background-color: @c-m-grey; }
.bg-vd-grey	{ background-color: @c-vd-grey; }