.inputs-default{
    &:extend(.bg-l-grey);
    vertical-align: middle;
    border: 0 none;
    -webkit-appearance: none;    
}

.options-list{
    font-size: 14px; 

    li{
        display: block;
        margin-bottom: 10px;
    }

    input[type="checkbox"]{
        display: none;

        &:checked + .label{
            label{
                &:after{
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 6px;
                    width: 5px;
                    height: 10px;
                    border-top: 2px solid @c-red;
                    border-left: 2px solid @c-red;
                    transform: rotate(-127deg); 
                    box-shadow: -2px -1px 0 fade(@c-white,50);
                }
            }
        }        
    }

    input[type="radio"]{
        display: none;
        
        & + .label{
            label{
                &:before{
                    border-radius: 50%;
                }
            }
        }

        &:checked + .label{    
            label{        
                &:after{
                    &:extend(.bg-red);
                    border-radius: 50%;
                    width: 14px;
                    height: 14px;
                    border: 2px solid fade(@c-white,50);
                    top: 2px;
                    left: 0;                
                }
            }
        }
    }

    .label,
    span{
        display: inline-block;
    }

    .label{
        position: relative;
        vertical-align: middle;
        margin-right: 6px;

        label{
            &:before{
                &:extend(.bg-l-grey);
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 3px;
                margin-right: 6px;
                position: relative;
                top: 2px;
            }

            &:after{
                content: '';
                position: absolute;
                display: inline-block;
            }
        }


    }
}

select{
    padding: 10px 30px 10px 15px;
}

select,
textarea{
    &:extend(.inputs-default);    
    &:extend(.c-d-grey);
    width: 100%;
    max-width: 320px;    
}

input{
    &:extend(.c-d-grey);

    &[type="tel"],
    &[type="email"],
    &[type="text"]{
        &:extend(.inputs-default);
        padding: 10px 15px 10px 15px;

        &.qty{
            max-width: 63px;
            text-align: center;
        }
    }

    &[type="file"]{
        &:extend(.inputs-default);
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        max-width: 320px;
    }
}

button.qty-button{
    &-less,
    &-more{
        &:extend(.inputs-default);
        cursor: pointer;
        padding: 10px;
        transition: .2s;

        path{
            fill: @c-d-grey;
        }

        &:hover{
            background-color: darken(@c-l-grey, 10%);
            outline: 0 none;
        }

        svg{
            position: relative;
            top: 1px;
        }

    }

    &-more{
        margin-left: -2px;
    }

    &-less{
        margin-right: -2px;
        svg{
            top: 6px;
        }
    }    
}

select,
textarea,
input,
button{
    &:extend(.ft-proximanova);
}

// setinhas select somente em webkit (chrome, etc)
@media screen and ( -webkit-min-device-pixel-ratio: 0 ){
    .select-seta {
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 11px;
            top: 0;
            bottom: 0;
            border-width: 1px;
            border-style: solid;
            border-color: transparent @c-d-grey @c-d-grey transparent;
            margin: auto;
            background: transparent;
            width: 6px;
            height: 6px;
            transform: rotate(45deg) translateY(-1px);
        }
    }
}