.loader,
.loader:after {
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.loader {
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-left-color: transparent;
	animation: load8 1s infinite linear;
}

@keyframes load8{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}