@path-proximanova: '/skin/frontend/ceicom/default/fonts/proximanova/';

.ft-proximanova{
    font-family: 'proxima_nova';
}

@font-face {
    font-family: 'proxima_nova';
    src: url('@{path-proximanova}proximanova-regular.woff2') format('woff2'),
         url('@{path-proximanova}proximanova-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('@{path-proximanova}proximanova-bold.woff2') format('woff2'),
         url('@{path-proximanova}proximanova-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('@{path-proximanova}proximanova-black.woff2') format('woff2'),
         url('@{path-proximanova}proximanova-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


body,
button,
input,
select,
textarea {
    color: @c-d-grey;
    font-family: Open Sans;
    font-size: 16px;
    font-size: 1rem;
    /* line-height: 1.5; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}
p {
    margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: @c-l-grey;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}
abbr,
acronym {
    border-bottom: 1px dotted @c-m-grey;
    cursor: help;
}
mark,
ins {
    /* background: #fff9c0; */
    text-decoration: none;
}
big {
    font-size: 125%;
}

