
/*
===================
add to cart css (global)
===================
*/
.widget_shopping_cart_content {
    padding: 10px 0 10px 10px;
}
.widget_shopping_cart_content .mini_cart_item {
    text-align: left;
}
.widget_shopping_cart_content .mini_cart_item a.remove {
    float: right;
    position: static !important;
    text-align: right;
    margin-right: 8px;
}
.cart_list {
    max-height: 300px;
    overflow-y:auto;   
}
.widget-area .widget_shopping_cart .cart_list {
    max-height: 100%;
    overflow:auto;
}
.widget-area .widget_shopping_cart .buttons a {
    font-size: 12px;
}
.woocommerce .widget_shopping_cart .cart_list li, 
.woocommerce.widget_shopping_cart .cart_list li {
    padding-left:0; 
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img {
    box-shadow: none;
    float: left;
    height: auto;
    margin-right:10px;
    width: 65px;
}
.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
    padding: 10px 0;
    text-align: left;
    border-top: none;
    font-size: 16px;
    color: #000;
}
.woocommerce a.remove {
    color: #0091D5 !important;
}
.woocommerce a.remove:hover {
    background: none;
    color: red !important;
}
.woocommerce p.buttons {
    padding-right: 10px;
}
.site-header-cart .woocommerce a.button.wc-forward,
.site-header-cart .woocommerce a.button.checkout {
    border-radius: 0;
    width: 48%;
    color: @c-white;
    padding: 13px 30px;
    text-align: right;
    position: relative;
    font-weight: 600;
}
.site-header-cart .woocommerce a.button.wc-forward {
    float: left;
    background: @c-cyan;
}
.site-header-cart .woocommerce a.button.wc-forward:before {
    content: '\f291';
    position: absolute;
    font-family: FontAwesome;
    color: @c-white;
    left: 23px;
    font-weight: 400;
}
.site-header-cart .woocommerce a.button.checkout {
    float: right;
    background: @c-red;
    border-color:@c-red;    
}
.site-header-cart .woocommerce a.button.checkout:before {
    content: '\f00c';
    position: absolute;
    font-family: FontAwesome;
    color: @c-white;
    left: 28px;
    font-weight: 400;
}
.woocommerce a.button.wc-forward:hover,
.woocommerce a.button.checkout:hover {
    box-shadow: 0 0 15px -7px @c-m-grey;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
}
.woocommerce .woocommerce-message {
    border-color: @c-cyan;
}
.woocommerce .woocommerce-message::before {
    color: @c-cyan;
}