
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    
    box-sizing: inherit;
}
body {
    background: @c-white;
    /* Fallback for when there is no custom background color defined. */
}

blockquote {
    border: none;
    color: #6a6a6a;
    font-size: 16px;
    line-height: 1.4736842105;
    margin: 1em 0;
    padding: 0 0 0 1.263157895em;
}
blockquote p {
    font-size: 14px;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
hr {
    background-color: @c-l-grey;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul,
ol {
    margin: 0;
    padding: 0; 
}
ul li {
    list-style: none;
}
ol {
    list-style: none;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    /* Make sure images are scaled correctly. */
    
    max-width: 100%;
    /* Adhere to container width. */
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}