
/*
================
header css
================
*/
.site-header .top-header {
    border-bottom: 1px solid #f7f7f7;   
}
/*
================
header nav css
================
*/
.top-header .top-navigation {
    float: left;
    width:60%;
}
.top-header .top-navigation ul li {
    float: left;
    font-size:11px;
    font-family:Open Sans;
    text-transform: uppercase;
    margin-right:15px;
    padding:10px 0;
    position:relative;
    cursor: pointer;
}
.top-header .top-navigation ul li a {
    color: #333;
    display: block;
    padding-left: 15px;
    position: relative;
}
.top-header .top-navigation ul li a:before {
    border-left: 1px solid #333;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 4px;
}
.top-header .top-navigation ul li:first-child a:before {
    border-left: 0
}
.top-header .top-navigation ul li a:hover {
    color:@c-cyan;
}
.top-header .top-navigation ul li ul {
    position:absolute;
    left:-2px;
    top: 29px;
    display:none;
    background: #0083C1;
}
.top-header .top-navigation ul li ul li {
    padding: 3px 10px;
}
.top-header .top-navigation ul li:hover ul {
    display: block;
}
/*
================
quickinfo css
================
*/
.top-header ul.store-quickinfo {
    float:left;
    padding: 5px 0 10px;
}
.top-header ul.store-quickinfo li {
    margin-right:5px;
    font-size:11px;
    font-family:Open Sans;
    /* text-transform: uppercase; */
}
.top-header ul.store-quickinfo li,
.top-header ul.store-quickinfo li a{
    color: #333333;
    display: inline-block;
    font-family: Open Sans;
    font-size: 12px;
}
.top-header ul.store-quickinfo li a:hover {
    color: @c-cyan;
}
/*
================
top-header-regin css
================
*/
.top-header .top-header-regin {
    float:right;
    font-size:11px;
    font-family:Open Sans;
    text-transform: uppercase;
    position: relative;
}
.top-header .top-header-regin ul > li {
    float:left;
    margin-left:10px;
}
.top-header .top-header-regin ul li a {
    color: #333333;
    float: left;
    padding: 10px 0;
}
.top-header .top-header-regin ul li a:hover,
.top-header-regin .count .fa.fa-shopping-basket:hover {
    color:@c-cyan;
}
.top-header .top-header-regin ul li a.quick-wishlist {
    position: relative;
    margin-left: 17px;
}
.top-header .top-header-regin ul li a.quick-wishlist:before {
    position: absolute;
    content:'\f08a';
    font-family:FontAwesome;
    font-size:11px;
    left: -15px;
}
.top-header .top-header-regin a.sv_login {
    position: relative;
}
.top-header .top-header-regin a.sv_login:before {
    content: '\f007';
    position: absolute;
    font-family: FontAwesome;
    left: -13px;
}
.top-header-regin ul li .widget_shopping_cart {
    width: 300px;
    background: @c-white;
    position: absolute;
    opacity: 0;
    right: 0;
    top: 35px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    visibility: hidden;
}
.top-header-regin ul li:hover .widget_shopping_cart {
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    z-index: 999999;
    visibility: visible;
}
.top-header-regin .widget_shopping_cart_content {
    padding-left: 10px;
    border: 1px solid #cbcbcb;
} 
.top-header-regin .widget_shopping_cart_content li {
    margin-left: 0 !important;
    width: 100%;
}
.top-header-regin .widget_shopping_cart_content li a {
    padding: 0 !important; 
}
.top-header-regin .widget_shopping_cart_content .mini_cart_item a.remove {
    float: right;
    margin-right: 8px;
    position: static !important;
    text-align: right;
}
.top-header-regin .count .fa.fa-shopping-basket {
    color: #ababaa;
    font-size: 14px;
}
/*cart count css*/
.top-header-regin .cart-contents .count {
    position: relative;
}
.top-header-regin ul li span.cart-count {
  background: #0091d5 none repeat scroll 0 0;
  border-radius: 100%;
  color: @c-white;
  font-size: 8px;
  line-height: 14px;
  padding: 0 3px 2px;
  position: absolute;
  text-align: center;
  top: -7px;
  right: -15px;
  height: 15px;
  width: 15px;
}
.top-header-regin ul li span.cart-count:hover {
    background: @c-red;
}
/*
================
end
================
*/ 
.header-wrap {
    padding: 20px 0;
}
.header-wrap .site-branding {
    .column(6);
}
.site-branding img{
    max-width: 300px;
}
.header-wrap .site-branding a,
.header-wrap .site-branding .sv-logo-wrap {
    display: inline-block;
    vertical-align: middle;
}
.header-wrap .site-branding .sv-logo-wrap {
    margin-top: 20px;
    margin-left: 10px;
}
.header-wrap .site-branding h1 {
    margin-bottom: 5px;
}
.header-wrap .site-branding h1.site-title a {
    font-size: 36px;
    color: @c-black;
    text-transform: uppercase;
    line-height: 30px;
    display:block;
    margin-bottom: 5px;
    font-weight: 700;
}
.header-wrap .site-branding p.site-description {
    font-size: 14px;
    color: @c-black;
}
.header-wrap .search-cart-wrap {
    .column(6);

    @media screen and (max-width: 800px) {
        .column(4);
    }
}
.header-wrap .search-cart-wrap .advance-search,
.header-wrap .search-cart-wrap .site-header-cart {
    float: right;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_wrap,
.header-wrap .search-cart-wrap .advance-search .sv_search_form {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
/*
==========
select option css
==========
*/
.header-wrap .search-cart-wrap .advance-search .sv_search_product {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    appearance: none;
    border: none;
    width: 120px;
    height: 45px;
    font-size: 13px;
    font-family: Open Sans;
    padding: 0 20px 0 15px;
    color: #8e8e8e;
    margin-right: 3px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background: url("assets/images/arrow.png") no-repeat;
    background-size: 10px;
    background-position: 96% 53%;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_product::-ms-expand {
    display: none;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_product .sv-advance-search {
    border: none;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_product .sv-advance-search option {
    border: none;
    box-shadow: none;
    padding: 4px 10px;
    width: 170px;
}
/*
==========
search field css
==========
*/
.header-wrap .search-cart-wrap .advance-search .sv_search_form,
.normal-search {
    position: relative;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_form:before {
    border-left: 1px solid #cbcbcb;
    content: '';
    position: absolute;
    left: 0;
    height: 30px;
    top: 7px;   
}
.header-wrap .search-cart-wrap .advance-search .sv_search_form input[type=text],
.normal-search .search-form .search-field {
    width: 313px;
    height: 45px;
    padding: 0 10px;
    border-radius: 0;
    border: 1px solid @c-l-grey;
    color: #8e8e8e;
    font-style: normal;
    font-size: 13px;
}

.header-wrap .search-cart-wrap .advance-search .sv_search_form input[type=text]{
    border: 0;
}

.header-wrap .search-cart-wrap .advance-search .sv_search_form input::-moz-placeholder {
    font-style: normal;
    color: #8e8e8e;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_form input::-webkit-input-placeholder {
    color: #8e8e8e;
    font-style: normal;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_form #searchsubmit {
    background: @c-cyan;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: 41px;
    position: absolute;
    right: 2px;
    text-shadow: none;
    top: 2px;
    width: 46px;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    padding: 10px;
}
.normal-search .search-form .search-submit {
    position: relative;
    height: 46px;
    width: auto;
    background: #000;
    color: @c-white;
    border-radius: 0;
    box-shadow: none;
    border: medium none;
    text-shadow: none;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_form #searchsubmit:hover,
.normal-search .search-form .search-submit:hover {
    background: #006ea1;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
}
.header-wrap .search-cart-wrap .advance-search .sv_search_form #searchsubmit .fa {
    color: @c-white;
}
/*
==========
site-header-cart menu css
==========
*/
.header-wrap .site-header-cart.menu {
    margin-left: 3px;
}
.header-wrap .site-header-cart.menu li a.cart-contents {
    background: #fbb203;
    width: 120px;
    height: 45px;
    color: @c-white;
    text-align: right;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 5px 20px;
    position: relative;
}
.header-wrap .site-header-cart.menu li a.cart-contents:hover {
    background: #fcc646;
}
.header-wrap .site-header-cart.menu li a.cart-contents:before {
    position: absolute;
    content: '\f291';
    font-family: FontAwesome;
    left: 10px;
    font-size: 31px;
    top: -1px;
}
.header-wrap .site-header-cart.menu li a.cart-contents span {
    display: block;
}
.header-wrap .site-header-cart.menu li a.cart-contents span:first-child {
    margin-top: 0;
}
.header-wrap .site-header-cart.menu li {
    position: relative;
}
.header-wrap .site-header-cart.menu li:hover .widget.woocommerce.widget_shopping_cart {
    display: block;
}
.header-wrap .site-header-cart.menu li .widget.woocommerce.widget_shopping_cart {
    display: none;
    position: absolute;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 15px -7px @c-m-grey;
    right: 0;
    min-width: 320px;
    text-align: center;
    color: #8e8e8e;
    font-size: 14px;
    z-index: 999;
}
.header-wrap .site-header-cart.menu li .widget.woocommerce.widget_shopping_cart .cart_list.product_list_widget li.empty {
    padding: 60px 0 30px;
    position: relative;
} 
.header-wrap .site-header-cart.menu li .widget.woocommerce.widget_shopping_cart .cart_list.product_list_widget li.empty:before {
    position: absolute;
    content: '\f291';
    font-family: FontAwesome;
    font-size: 30px;
    left: 0;
    width: 100%;
    top: 25px;
}