// slider

.flex-control-nav{
    bottom: 0 !important;
    z-index: 10;

    li{
        a{
            width: 15px !important;
            height: 15px !important;
            border: 3px solid @c-black;
            background-color: @c-transparent !important;
        }

        .flex-active{
            background-color: @c-red !important;
            border: 3px solid @c-red;
            color: @c-red;
        }
    } 
}

section{
    margin-bottom: 30px;
    display: inline-block;
}

section#dicas{

    .title{
        .column(12);
        .material-icons{
            //.column(1);
            float: left;
        }
    } 

    .posts{
        min-height: 550px;
        ul li{
            .column(4);
            margin-bottom: 30px;

            @media screen and (max-width: 1200px) {
                .column(6);
            }

            @media screen and (max-width: 800px) {
                .column(12);
            }

            a{
                width: 370px;
                height: 410px;
                position: relative;
                display: block;

                 @media screen and (max-width: 380px) {
                    width: 100%;
                    height: auto;
                }

                img{
                    position: relative;
                    transition: all .4s;
                    border-radius: 5px;

                    &:hover{
                        transform: scale(1.02);
                        -webkit-box-shadow: -1px 6px 18px -2px rgba(117,117,117,1);
                        -moz-box-shadow: -1px 6px 18px -2px rgba(117,117,117,1);
                        box-shadow: -1px 6px 18px -2px rgba(117,117,117,1);
                    }
                }

                h4{
                    color: @c-white;
                    text-shadow: 1px 0px 8px #333333; 
                    text-transform: uppercase;
                    position: absolute;
                    top: 20px;
                    padding: 0 20px;
                    font-weight: 600;
                    font-size: 25px;
                }
                
                time{
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    color: @c-white;
                    text-shadow: 1px 0px 8px #333333;
                }
            }
        }
    }

    a.more{
        float: right;
        transition: all .2s;
        display: flex;
        
        i.material-icons{
            width: 20px;
            margin: 0 15px 0 10px;
        }

        &:hover{
            margin-right: 5px;
            color: @c-red;
        }
    } 
}

section#slider-body{
    .column(12);
}

section#location{
    display: block;

    .title{
        .column(12);
    }

    .item{

        .address{
            margin-top: 20px;
            .column(5);

            @media screen and (max-width: 640px) {
                .column(12);
            }

            li{
                margin-bottom: 15px;
                display: flex;
                font-size: 20px;
                
                .material-icons{
                    margin-right: 10px;
                }

                a{
                    color: @c-black;
                }
                
                &:first-of-type{
                    font-size: 30px;
                    color: @c-red;
                }
            }
        }

        .map{
            margin-bottom: 30px;
            margin-top: 20px;
            .column(7);

            @media screen and (max-width: 640px) {
                .column(12);
            }
        }
    }
}