
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

/* a {
    color: royalblue;
}
a:visited {
    color: purple;
}
a:hover,
a:focus,
a:active {
    color: midnightblue;
}
a:focus {
    outline: 0;
}
a:hover,
a:active {
    outline: 0;
} */
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.primary-navigation{
    .column(12);
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    text-decoration: none;
}
.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999;
}
/* .main-navigation ul ul ul {
    left: -999em;
    top: 0;
} */
.main-navigation ul ul a {
    width: 200px;
}
.main-navigation ul ul li {} .main-navigation li:hover > a,
.main-navigation li.focus > a {} .main-navigation ul ul:hover > a,
.main-navigation ul ul .focus > a {} .main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {} .main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {}
/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}
@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}


/*
=================
*****************
main nav css
*****************
=================
*/
.main-navigation {
    background: @c-yellow;
}
.main-navigation li {
    float: left;
}
.main-navigation li.menu-item-has-children {
    position: relative;
}
.main-navigation li.menu-item-has-children > a:before {
    position: absolute;
    content: '\f107';
    font-family: FontAwesome;
    right: 11px;
    color: @c-white;
    line-height: 21px;
}
.main-navigation li.menu-item-has-children ul li.menu-item-has-children > a:before {
    color: #000 !important;
    content: '\f105';
}
.main-navigation ul li a {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    color: @c-black;
    padding: 20px 25px;
    position: relative;
}
.main-navigation ul li:first-child a {
    margin-left: 0;
}
.main-navigation ul li.current-menu-item > a {
    background: white;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    color: @c-black;
    font-weight: 600;
}

.main-navigation ul li a:hover{
    color: @c-white;
    background: rgba(0,0,0,0.5);
}

.main-navigation ul ul li.current-menu-item a,
.main-navigation ul ul li a:hover {
    background: @c-yellow;
    color: @c-white;
}


/*
======== drop down menu =======
*/
.main-navigation ul ul {
    background: @c-cyan;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    left: 40px;
}
.main-navigation ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    left: 0;
}
.main-navigation ul ul ul {
    top: 0 !important
}
.main-navigation ul li ul li a {
    margin-left: 0;
    padding: 7px 10px;
    font-weight: 400;
    color: @c-white;
}
.main-navigation ul li ul li:hover a {
    background: @c-white;
    color: @c-cyan;
}
.main-navigation ul li ul li a:last-child {
    border-bottom: none;
}

// ===========
// end of css
// ===========