
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

/* .widget {
    margin: 0 0 1.5em;
} */
/* Make sure select elements fit in widgets. */

.widget {
    width: 100%;

    select {
        max-width: 100%;
    }
}