// GRID CONFIG
//--------------------------------------

// gutter (espaço entre as colunas)
@gutter-width: 15;
// quant. colunas
@columns: 12;
// font-base
@font-base: 16;
// largura do conteudo
@larguraContent: 1200px;


// CORES
//--------------------------------------

@c-white: 	#fff;
@c-vl-grey: #bbb;
@c-l-grey: 	#ccc;
@c-m-grey:  #8b8b8b;
@c-d-grey: 	#404040;
@c-vd-grey: #2f2f2f;

@c-red: 	#dd1f26;
@c-l-red: 	#f7454c;
@c-d-red: 	#8c262a;

@c-cyan: 	#0091d5;
@c-blue: 	#2a0190;
@c-green:   #00a64f;
@c-yellow:  #FFEB00;

@c-black: 	#000;

@c-transparent: rgba(255,255,255, 0);

// OUTRAS
//--------------------------------------

@c-text-default: @c-d-grey;

@bg-header--menu: #efefef;
@bg-toolbar--filter: @c-vl-grey;


// CORES DO "LAYOUT" / TEMPLATE
//--------------------------------------

@c-main-template-bg: @c-red;
@c-feature-template: @c-m-grey;

//cor dos botões de comprared
@c-bg-cart-buttons-default: @c-main-template-bg;

//cor de fundo da newsletter
@c-bg-newsletter-default: #f7454c;
@c-btn-text-newsletter: #8c262a;