.main-navigation
{
	background:yellow;
	color:red;
}
.main-navigation ul li a
{
	color: red;
	font-weight:bold;
}
section {
  margin-bottom: 30px;
  display: inline-block;
}
section#dicas .title {
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
section#dicas .title .material-icons {
  float: left;
}
section#dicas .posts {
  min-height: 550px;
}
section#dicas .posts ul li {
  width: 33.33333333%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  section#dicas .posts ul li {
    width: 50%;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 800px) {
  section#dicas .posts ul li {
    width: 100%;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
section#dicas .posts ul li a {
  width: 370px;
  height: 410px;
  position: relative;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 380px) {
  section#dicas .posts ul li a {
    width: 100%;
    height: auto;
  }
}
section#dicas .posts ul li a img {
  position: relative;
  transition: all .4s;
  border-radius: 5px;
}
section#dicas .posts ul li a img:hover {
  -ms-transform: scale(1.02);
      transform: scale(1.02);
  -webkit-box-shadow: -1px 6px 18px -2px #757575;
  -moz-box-shadow: -1px 6px 18px -2px #757575;
  box-shadow: -1px 6px 18px -2px #757575;
}
section#dicas .posts ul li a h4 {
  color: #fff;
  text-shadow: 1px 0px 8px #333333;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 25px;
}
section#dicas .posts ul li a time {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  text-shadow: 1px 0px 8px #333333;
}
section#dicas a.more {
  float: right;
  transition: all .2s;
  display: -ms-flexbox;
  display: flex;
}
section#dicas a.more i.material-icons {
  width: 20px;
  margin: 0 15px 0 10px;
}
section#dicas a.more:hover {
  margin-right: 5px;
  color: #dd1f26;
}
section#slider-body {
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
section#location {
  display: block;
}
section#location .title {
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
section#location .item .address {
  margin-top: 20px;
  width: 41.66666667%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 640px) {
  section#location .item .address {
    width: 100%;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
section#location .item .address li {
  margin-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}
section#location .item .address li .material-icons {
  margin-right: 10px;
}
section#location .item .address li a {
  color: #000;
}
section#location .item .address li:first-of-type {
  font-size: 30px;
  color: #dd1f26;
}
section#location .item .map {
  margin-bottom: 30px;
  margin-top: 20px;
  width: 58.33333333%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 640px) {
  section#location .item .map {
    width: 100%;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.title {
  width: 100%;
  display: inline-block;
}
.title h4 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
}
.title h4 span {
  color: #dd1f26;
}
@media screen and (max-width: 420px) {
  .title h4 {
    font-size: 2em !important;
  }
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: #ffffff;
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
.sv_search_wrap, .sv-logo-wrap{
	display: none!important;
}
.widget-area .widget{
  width: 100%;
}

.flex-control-nav {
    bottom: 10px !important;
    z-index: 10;
  }
  .flex-control-nav li a {
    width: 15px !important;
    height: 15px !important;
    border: 3px solid #000;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .flex-control-nav li .flex-active {
    background-color: #dd1f26 !important;
    border: 3px solid #dd1f26;
    color: #dd1f26;
  }